@use "sass:color";
/*
@mixin generate-colored-backgrounds($palette) {
    @each $key, $value in $palette {
        .background--#{'' + $key} {
            background-color: $value;
        }    
    }
}

//ezzel a fv-el fogunk világosabb háttérszíneket generálni
@mixin generate-lighter-colored-backgrounds($palette, $percents) {
    @each $key, $value in $palette {
        @each $percent in $percents {
            .background--lighter-#{'' + $key}-#{'' + $percent} { //így a classok nevei pl.:background--lighter-red-5 
                background-color: color.adjust($value, $lightness: $percent * 1%); //a $lightness:-t nem kellene kiírni, csak az érthetőség miatt van ott
            }    
        }
    }
}

//ezzel pedig a sötéteket
@mixin generate-darker-colored-backgrounds($palette, $percents) {
    @each $key, $value in $palette {
        @each $percent in $percents {
            .background--darker-#{'' + $key}-#{'' + $percent} { 
                background-color: color.adjust($value, $lightness: -$percent * 1%); //a class és fv neveken kívül, csak a -$percent változott
            }    
        }
    }
}*/