@font-face {
  font-family: "Catamaran";
  src: url("./fonts/Catamaran.ttf");
  font-weight: 100;
}
.Catamaran {
  font-family: "Catamaran", Helvetica, Arial, sans-serif;
}

@font-face {
  font-family: "Lato";
  src: url("./fonts/Lato.ttf");
  font-weight: 100;
}
.Lato {
  font-family: "Lato", Helvetica, Arial, sans-serif;
}

@font-face {
  font-family: "Muli";
  src: url("https://use.typekit.net/uxs7gxx.css");
  font-weight: 100;
}
.Muli {
  font-family: "Muli", Helvetica, Arial, sans-serif;
}

/*All site*/
html {
  scroll-behavior: smooth;
}

*:hover {
  transition: all 300ms;
}

.rounded-pill {
  font-family: "Lato";
  padding: 10px 35px 10px 35px;
  letter-spacing: 2px;
}
.rounded-pill:hover {
  background-color: #fdcc52;
  border: #fdcc52;
  transition: 300ms;
}

/*NEW-AGE*/
.navbar-brand {
  color: #fdcc52 !important;
}
.navbar-brand:hover {
  color: white !important;
}

.scrolled .navbar-brand {
  color: black !important;
}
.scrolled .navbar-brand:hover {
  color: #fdcc52 !important;
}

.nav-link {
  font-size: 10px;
  color: #d6c4d5 !important;
}
.nav-link:hover {
  color: white !important;
}

.scrolled .nav-link {
  color: black !important;
}
.scrolled .nav-link:hover {
  color: #fdcc52 !important;
}

.scrolled {
  background-color: white;
}

#new-age {
  height: 850px;
  background: url("/assets/img/bg-pattern.png"), linear-gradient(to right, #d92433, #7d4294);
  background-repeat: repeat;
}

#new-age-content {
  padding-top: 130px;
}

#new-age h1 {
  font-size: 45px;
  line-height: 55px;
}

#phone {
  height: 550px;
}

#phone-screen {
  height: 425px;
  position: relative;
  bottom: 488px;
  left: 17px;
}

/*DOWNLOAD*/
#download,
#contact {
  background-color: #fdcc52 !important;
}

#download {
  height: 550px;
}

#download img {
  width: 200px;
}

#download h1 {
  font-weight: 500;
}

#download p {
  font-weight: 600;
  font-size: 20px;
}

/*FEATURES*/
#features {
  height: 950px;
}

#features h1 {
  font-size: 45px;
  font-weight: 500;
}

#phone2 {
  height: 550px;
}

#phone-screen2 {
  height: 425px;
  position: relative;
  bottom: 490px;
  left: 10px;
}

.iconDiv {
  border-bottom: 1px solid;
  border-image: linear-gradient(to right, #da2431, #7a4397);
  border-image-slice: 1;
}

.icon {
  font-size: 70px;
  color: #b2325d;
}

/*STOPWAITING*/
#stopWaiting {
  height: 680px;
  background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url("/assets/img/bg-cta.jpg");
  background-size: cover;
  background-position: center;
}

#stopWaiting h1 {
  font-size: 70px;
}

/*CONTACT*/
#contact {
  height: 320px;
}

#contact h1 {
  font-size: 50px;
}

#contact a {
  border-radius: 100%;
  opacity: 0.9;
}

#contact a:hover {
  opacity: 1;
}

.twitter {
  background-color: #1da1f3;
  padding: 30px 18px 15px 22px;
}

.facebook {
  background-color: #3b5999;
  padding: 30px 25px 15px 25px;
}

.gmail {
  background-color: #d74a35;
  padding: 30px 20px 15px 20px;
}

/*FOOTER*/
footer {
  height: 110px;
  background-color: #222222;
}

footer span {
  cursor: pointer;
}

footer span:hover {
  color: #fdcc52 !important;
}

@media screen and (max-width: 991px) {
  .rounded-pill {
    padding: 15px 45px 15px 45px;
  }

  /*NEW-AGE*/
  #new-age {
    height: 1400px;
    text-align: center;
  }

  #new-age .nav-link {
    color: black;
  }

  .scrolled .navbar-brand {
    color: #fdcc52 !important;
  }

  #new-age .nav-link:focus {
    color: #fdcc52 !important;
  }

  #new-age h1 {
    font-size: 40px;
    line-height: 50px;
  }

  #phone {
    height: 800px;
  }

  #phone-screen {
    height: 615px;
    left: 0;
    bottom: 708px;
  }

  /*DOWNLOAD*/
  #download {
    height: 900px;
  }

  #download img {
    width: 300px;
  }

  #download h1 {
    font-weight: 500;
    font-size: 80px;
  }

  #download p {
    font-weight: 600;
    font-size: 25px;
  }

  /*FEATURES*/
  #features {
    height: 3300px;
  }

  #features h1 {
    font-size: 70px;
    font-weight: 500;
  }

  #features P {
    font-size: 25px;
    font-weight: 600;
  }

  #phone2 {
    height: 900px;
  }

  #phone-screen2 {
    height: 695px;
    position: absolute;
    left: 164px;
    top: 100px;
  }

  .iconDiv {
    margin-top: 150px;
  }

  .icon {
    font-size: 120px;
    color: #b2325d;
  }

  #features h3 {
    font-size: 50px;
    font-weight: 500;
  }

  /* CONTACT */
  #contact {
    height: 500px;
  }

  #contact h1 {
    font-size: 70px;
  }

  #contact a {
    font-size: 30px;
    opacity: 1;
  }

  .twitter {
    padding: 40px 15px 15px 25px;
  }

  .facebook {
    padding: 40px 30px 15px 30px;
  }

  .gmail {
    padding: 40px 20px 15px 20px;
  }

  footer {
    height: 150px;
    font-size: 25px;
  }
}

/*# sourceMappingURL=style.css.map */
