

@use "sass:map";
@use "sass:string";
@use "sass:list";



/*
@function var ($string, $data: colors.$colors) {
    $keys: get-keys($string); //itt is megtehetnénk, h a fv-eket tartalmazó fájlokat forwarodljuk mondjuk egy functions.scss fájlba és csak azt linkelném be
    @each $key in $keys {
        $data: map.get($data, $key); //ez szűkíti le pl theme-re v színkódra v listára...
    }
    @return $data;
}
/*
//@debug var(theme-red);


/*

@function get-keys($string, $separator: '-') {
    $keys: ();
    $index: string.index($string, $separator); //visszaadja, hogy a szaparátor hanyadik elemnél van
    @while $index {
        $key: string.slice($string, 1, $index - 1); //levágjuk a sztringet az 1. kataktertől az indexig
        $keys: list.append($keys,$key);
        $string: string.slice($string, $index + 1); //levágjuk a sztringet az indextől a végéig
        //@debug ($key,$keys,$string,$index); //tényleg működik
        $index: string.index($string, $separator);
    }
    $keys: list.append($keys,$string);
    @return $keys;    
}
*/
//@debug get-keys("Vass-Gábor-Sándor"); //tényleg működik

/*
@function get-default-theme() {
    @return (themes-#{var(defaultTheme)});
}*/