@font-face {
    font-family: 'Roboto';
}

body,
html {
    margin: 0;
    padding: 0;
    font-family: 'Roboto';
    background-color: darkgray;
}

/*HEADER*/
header {
    background-color: dimgray;
    height: 100px;
    color: white;
    user-select: none;
}
.title {
    display: block;
    text-align: center;
    font-size: 25px;
    font-weight: 600;
    padding-top: 30px;
}

/*TABLE - DATAS*/
.table {
    width: 950px;
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
    border-collapse:collapse
}
.table tr{
    line-height: 50px;
}
.table td{
    padding-left: 10px;
}
.table td:first-child {
    border-radius: 10px 0 0 10px;
    text-align: center;
}
.table td:last-child {
    border-radius: 0 10px 10px 0;
    text-align: center;
}
.evenRow {
    background-color: silver;
}
.oddRow {
    background-color: lightgrey;
}
.evenRow:hover, .oddRow:hover{
    background-color: rgb(228, 226, 226);
    font-weight: 600;
}
.newUser {
    background-color: dimgray;
}
.noData {
    font-size: 50px;
}

/*TABLE - BUTTONS*/
.edit{
    padding: 5px 10px;
    background-color: rgb(0, 123, 255);
    border-radius: 5px 0 0 5px;
    font-size: 1.2rem;
    border: 0;
}
.del{
    padding: 5px 10px;
    background-color: rgb(206, 55, 36);
    border-radius: 0 5px 5px 0;
    font-size: 1.2rem;
    border: 0;
    margin-right: 5px;
}
.confirm, .add{
    padding: 5px 10px;
    background-color: green;
    border-radius: 5px 0 0 5px;
    font-size: 1.2rem;
    border: 0;
}
.refresh {
    padding: 5px 10px;
    background-color: green;
    border-radius: 0 5px 5px 0;
    font-size: 1.2rem;
    border: 0;
    border-left: 1px solid black;
}
.cancel{
    padding: 5px 10px;
    background-color: rgb(206, 55, 36);
    border-radius: 0 5px 5px 0;
    font-size: 1.2rem;
    border: 0;
}
.edit:hover, .del:hover, .confirm:hover, .cancel:hover, .add:hover, .refresh:hover{
    color:white
}

/*EDITED ROW*/
.editTd {
    font-size: 20px;
}
.editTd:focus {
    border: rgb(128, 189, 255) solid 3px;
    outline: none;
    border-radius: 4px;
}

/*MESSAGE WINDOW*/
.errorDiv, .successDiv, .infoDiv {
    width: 250px;
    position: fixed;
    right: 50px;
    float: right;
    border-radius: 5px;
    padding: 5px;
    text-align: center;
    font-size: 20px;
    font-weight: 600;
    opacity:1;
}
.errorDiv{
    background-color: rgb(238, 190, 185);
    border: 2px solid indianred;
    color: crimson;
    top: 200px;
}
.successDiv {
    background-color: aquamarine;
    border: 2px solid green;
    color: darkgreen;
    top: 320px;
}
.infoDiv {
    text-align: left;
    background-color: burlywood;
    border: 2px solid peru;
    color: rgb(139, 102, 8);
    top: 450px;
}
.errorDiv-hidden, .successDiv-hidden, .infoDiv-hidden {
    opacity:0;
    transition: opacity 1s
}


@media only screen and (max-width: 1000px) {

    html,
    body {
        width: 100vw;
    }
    header {
        height: 50px;
    }
    .title {
        font-size: 20px;
        padding-top: 10px;
    }
    
    /*TABLE - DATAS*/
    .table {
        width: 100vw;
        margin: 0;
        margin-top: 10px;
    }
    .table tr{
        display: table;
        width:100%;
        line-height: 25px;
        border: solid 1px dimgray;
    }
    .table tr:first-child{
        border: none;
    }
    .table th:first-child, .table th:nth-child(2), .table th:nth-child(3), .table th:nth-child(4){
        display: none;
    }
    .table th:last-child{
        display: table-row;
    }
    .table td{
        display: table-row;
    }
    .table td:first-child {
        text-align: left;
    }
    .table td:last-child {
        text-align: right;
    }
    .noData {
        font-size: 20px;
    }
        
    /*MESSAGE WINDOW*/
    .errorDiv, .successDiv, .infoDiv {
        right: 10px;
    }
    .errorDiv{
        top: 50px;
    }
    .successDiv {
        top: 120px;
    }
    .infoDiv {
        top: 190px;
    }
}